body {
    background-color: cornflowerblue;
}
 p {
    color: aqua;
 }


form input {
    padding: 4px;
    margin-right: 19px;
    color:darkblue ;
}

#text-field-3 {
    padding: 90px;
    padding-top: 8px;
}


label {
    color:slateblue;
    background-color: cornsilk;
    border-radius: 10px;
    padding: 4px;
}

@media only screen and (max-device-width: 844px) {
    body {
        background-color: lightblue;
    }
    h1 {
        font-size: 28px;
    }
}